.SignUpFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 40vw;
  border-radius: 20px;
  background-color: white;
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: floatUp 1.5s ease-out;
}

.SignUpFormContainer input {
  font-family: 'Jost', sans-serif, Arial;
  font-size: 1rem !important; /* adjust this value as needed */
}

.SULogoContainer {
  background: linear-gradient(to bottom, #073A87, #000E24);
  padding: 10px;
  min-width: 40vw;
  align-items: center;
  justify-content: center;
  display: flex;
}

.SULogoContainer img {
  width: 35vw;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .SignUpFormContainer {
    width: 90vw;
  }

  .SULogoContainer {
    min-width: 90vw;
  }

  .SULogoContainer img {
    width: 85vw;
  }
}

.SignUpFormContainer input::placeholder {
  font-size: 1rem !important; /* adjust this value as needed */
}